min_version = "2025.11.3"

[settings]
experimental = true
idiomatic_version_file_enable_tools = [
  "python",
]

[env]
_.file = ".env"
_.python.venv = { path = ".venv", create = true }

[tools]

[tasks."setup"]
run = """
#!/usr/bin/env bash

if [ ! -f ".env" ]; then
  cp .env.example .env
fi

pip install -r requirements.txt
"""
